<div class="sidebar-container">
  <ul class="nav-list">
    <li class="section-title">🛡 Admin</li>

    <li><a routerLink="/admin/login" routerLinkActive="active"(click)="closeSidebar()">📊 Admin Login</a></li>





    <li class="section-title"(click)="closeSidebar()">👋 User</li>
<li><a routerLink="/dashboard" routerLinkActive="active"(click)="closeSidebar()">🏠 Home</a></li>

    <li>
  <a routerLink="/ourservices" routerLinkActive="active" (click)="closeSidebar()">🧹 Our Services</a>
</li>
  <li> <a routerLink="/auth/contact"(click)="closeSidebar()" > 📞Contact</a></li>





  </ul>
</div>
